@page "/todos/details/{Id:int}"

<h3>Todo Details</h3>

@if (todo == null)
{
    <MudProgressCircular Indeterminate="true" Color="Color.Primary" />
}
else
{
    <MudPaper Class="p-4" Elevation="2">
        <MudText Typo="Typo.h6">@todo.Title</MudText>
        <MudText>@todo.Description</MudText>
        <MudChip T="string" Color="@(todo.IsDone ? Color.Success : Color.Warning)">
            @(todo.IsDone ? "Done" : "Pending")
        </MudChip>

        <MudDivider Class="my-3" />
        <MudButton Color="Color.Secondary" Variant="Variant.Outlined" OnClick="Back">Back</MudButton>
    </MudPaper>
}

@code {
    [Parameter] public int Id { get; set; }
    private Todo? todo;

    protected override async Task OnInitializedAsync()
    {
        todo = await Database.Todos.FindAsync(Id);
    }

    private void Back() => Nav.NavigateTo("/todos");
}
