@page "/todos/edit/{Id:int}"

<h3>Edit Todo</h3>

@if (todo == null)
{
    <MudProgressCircular Indeterminate="true" Color="Color.Primary" />
}
else
{
    <MudPaper Class="p-4" Elevation="2">
        <MudTextField @bind-Value="todo.Title" Label="Title" Variant="Variant.Outlined" Class="mb-3" />
        <MudTextField @bind-Value="todo.Description" Label="Description" Variant="Variant.Outlined" Class="mb-3" />
        <MudCheckBox T="bool" @bind-Checked="todo.IsDone" Label="Is Done?" Class="mb-3" />

        <MudButton Color="Color.Warning" Variant="Variant.Filled" OnClick="UpdateTodo" Class="me-2">Update</MudButton>
        <MudButton Color="Color.Secondary" Variant="Variant.Outlined" OnClick="Cancel">Cancel</MudButton>
    </MudPaper>
}

@code {
    [Parameter] public int Id { get; set; }
    private Todo? todo;

    protected override async Task OnInitializedAsync()
    {
        todo = await Database.Todos.FindAsync(Id);
    }

    private async Task UpdateTodo()
    {
        if (todo != null)
        {
            Database.Todos.Update(todo);
            await Database.SaveChangesAsync();
        }
        Nav.NavigateTo("/todos");
    }

    private void Cancel()
    {
        Nav.NavigateTo("/todos");
    }
}
