@page "/todos/details/{Id:int}"
@inject HttpClient Http
@inject NavigationManager Nav

<h3>Details Todo</h3>

@if (todo == null)
{
    <p>Loading...</p>
}
else
{
    <p><b>ID:</b> @todo.Id</p>
    <p><b>Title:</b> @todo.Title</p>
    <p><b>Status:</b> @(todo.IsDone ? "Selesai" : "Belum selesai")</p>

    <a href="/todos">Kembali ke List</a>
}

@code {
    [Parameter] public int Id { get; set; }
    private BlazorTodoApp.Models.Todo? todo;

    protected override async Task OnInitializedAsync()
    {
        todo = await Http.GetFromJsonAsync<BlazorTodoApp.Models.Todo>($"api/todos/{Id}");
    }
}
