@page "/countries/details/{Id:int}"

<MudContainer MaxWidth="MaxWidth.Medium" Class="mt-6">
    <h3 class="mb-4">Country Details</h3>

    @if (country == null)
    {
        <MudProgressCircular Indeterminate="true" Color="Color.Primary" />
    }
    else
    {
        <MudPaper Class="pa-6" Elevation="3">
            <MudText Typo="Typo.h5" Class="mb-4">@country.Name</MudText>
            <MudText Class="mb-4"><b>Code:</b> @country.Code</MudText>

            <MudDivider Class="my-4" />
            
            <div class="d-flex justify-start mt-4">
                <MudButton Color="Color.Secondary" 
                          Variant="Variant.Filled" 
                          Size="Size.Medium"
                          OnClick="Back">
                    Back 
                </MudButton>
            </div>
        </MudPaper>
    }
</MudContainer>

@code {
    [Parameter] public int Id { get; set; }
    private Country? country;

    protected override async Task OnInitializedAsync()
    {
        country = await Database.Countries.FindAsync(Id);
    }

    private void Back() => Nav.NavigateTo("/countries");
}
