@page "/countries/details/{Id:int}"

<h3>Country Details</h3>

@if (country == null)
{
    <MudProgressCircular Indeterminate="true" Color="Color.Primary" />
}
else
{
    <MudPaper Class="p-4" Elevation="2">
        <MudText Typo="Typo.h6">@country.Name</MudText>
        <MudText><b>Code:</b> @country.Code</MudText>

        <MudDivider Class="my-3" />
        <MudButton Color="Color.Secondary" Variant="Variant.Outlined" OnClick="Back">Back</MudButton>
    </MudPaper>
}

@code {
    [Parameter] public int Id { get; set; }
    private Country? country;

    protected override async Task OnInitializedAsync()
    {
        country = await Database.Countries.FindAsync(Id);
    }

    private void Back() => Nav.NavigateTo("/countries");
}
