@page "/countries/edit/{Id:int}"
@inject HttpClient Http
@inject NavigationManager Nav

<h3>Edit Country</h3>

@if (country == null)
{
    <p>Loading...</p>
}
else
{
    <div class="mb-3">
        <label>Name</label>
        <input class="form-control" @bind="country.Name" />
    </div>
    <div class="mb-3">
        <label>Code</label>
        <input class="form-control" @bind="country.Code" />
    </div>
    <button class="btn btn-primary" @onclick="Update">Update</button>
    <button class="btn btn-secondary" @onclick="GoBack">Cancel</button>
}

@code {
    [Parameter] public int Id { get; set; }
    private BlazorTodo.WebUI.Models.Country? country;

    protected override async Task OnInitializedAsync()
    {
        country = await Http.GetFromJsonAsync<BlazorTodo.WebUI.Models.Country>($"api/countries/{Id}");
    }

    private async Task Update()
    {
        await Http.PutAsJsonAsync($"api/countries/{Id}", country);
        Nav.NavigateTo("/countries");
    }

    private void GoBack()
    {
        Nav.NavigateTo("/countries");
    }
}